html,
body {
  margin: 0;
  color: black;
}

/* VARIABLES GLOBALES */

:root {
  --primary-color: #0b2239;
  --secondary-color: #4ad395;
  --error-color: #cd3636;
}

.center {
  justify-content: center;
}

/* BOUTONS */

.button {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
}

.med-button {
  height: 40px;
  width: 100px;
  border: 0px;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
}

.small-button {
  height: 40px;
  width: 70px;
  border: 0px;
  border-radius: 5px;
  background-color: var(--primary-color);
  cursor: pointer;
  color: white;
  margin-right: 1px;
}

.confirm {
  background-color: var(--secondary-color);
}
.cancel {
  background-color: var(--error-color);
}

.button:hover,
.med-button:hover {
  background-color: var(--secondary-color);

  color: var(--primary-color);
}

.button[type="submit"] {
  margin-top: 1rem;
}

/* HEADER */

.app-header {
  height: 100px;
  padding: 0 4rem;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.app-header li,
.app-header a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.app-header a:hover,
.app-header li:hover {
  color: var(--secondary-color);
}

.logo-image {
  height: 70px;
  width: 70px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
}

.header-menu li {
  margin-right: 10px;
}

.logout {
  cursor: pointer;
}

/* AUTHENTIFICATION */

.login-wrapper {
  background-color: white;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
}

.login-wrapper .container {
  margin-top: 5rem;
  max-width: 448px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      120deg,
      rgb(75, 252, 195) 0%,
      rgb(18, 33, 62) 20%,
      rgb(18, 33, 62) 80%,
      rgb(75, 252, 195) 100%
    )
    repeat scroll 0% 0%;
  /* height: 100%; */
  height: 70vh;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1120px;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .login-wrapper {
    height: 100%;
  }
  form {
    align-items: center;
  }
}

.login-wrapper input {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  height: 40px;
  width: 300px;
}

.login-wrapper input[type="submit"] {
  border-color: var(--secondary-color);
}

/* FORMULAIRE */

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1rem;
}
.field > label {
  display: block;
}
.field > label:first-child,
.field {
  margin-bottom: 8px;
}

.field_required:after {
  content: " (requis)";
  color: white;
  font-size: 0.6rem;
}

.field_error {
  color: var(--error-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.25;
  margin-top: 8px;
}

/* TABLEAUX DE DONNEES */

.thead,
tr {
  background-color: var(--primary-color);
}

.tr,
th {
  margin-top: 10px;
  white-space: nowrap;
  padding: 1rem;
  text-align: left;
  border-top: 2px solid var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
}

tbody,
tr:nth-child(odd) {
  background-color: white;
}

.tbody,
tr,
td {
  white-space: nowrap;
  width: 20%;
  overflow-wrap: break-word;
  padding: 0.5rem;
}

/* LOADING */

.loading {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MODALS */

.modal {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.1);
  z-index: 10;
}

.modal .login-wrapper {
  background-color: rgb(0, 0, 0, 0.1);
}

.modal .container {
  height: 40vh;
}

/* TICKET */

.ticket-li {
  color: orange !important;
}
